<app-loading *ngIf="loadingArtist"></app-loading>

<div *ngIf="!loadingArtist" class="row animated fadeIn m-5">

    <div class="col-2">
        <img [src]="artista.images | noimage" class="img-thumbnail img-circle">
    </div>

    <div class="col">
        <h1> {{ artista.name }} </h1>
        <hr>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">
                Ir a la página del artista
            </a>
        </p>
    </div>

    <div class="col-4 text-right">
        <button class="btn btn-outline-danger text-white" routerLink="/search">Regresar</button>
    </div>

</div>

<h5 class="text-center font-weight-bold">- Top Tracks -</h5>
<div class="row m-3">
    <div class="col">
        <table class="table text-white">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Canción</th>
                    <th>Vista Previa</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let track of topTracks" class="text-white">
                    <td>
                        <img [src]="track.album.images | noimage" class="img-thumb">
                    </td>
                    <td> {{ track.album.name }} </td>
                    <td> {{ track.name }} </td>
                    <td>
                        <!-- <audio [src]="track.preview_url" controls></audio>  -->

                        <!-- Se agrega un pipes de dom seguro para que habilitar permisos de seguridad en la url -->
                        <iframe [src]="track.album.id | domseguro : 'https://open.spotify.com/embed/album/' " width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>